@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "DiscoFont";
    src: url("./fonts/disco_70s.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

button {
    @apply uppercase tracking-tighter font-bold cursor-pointer;
}

button:disabled {
    cursor: not-allowed;
}
